<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1024">
    <link href="/style.css" rel="stylesheet">
    <link href="/theme.css" rel="stylesheet">
    <title>{{.title}}</title>
  </head>
  <body>

    <div class="header">
      <h1>{{.title}}</h1>
      <p>last update: {{call .checktime .lastcheck}}</p>
    </div>

    <div class="services">
      {{range $service := .services}}
        <div class="service">
          <div class="service-inner">
            <div class="title">
              {{if (eq $service.Link "")}}
                <h1>{{$service.Name}}</h1>
              {{else}}
                <h1>{{$service.Name}}<a href="{{$service.Link}}"></a></h1>
              {{end}}
            </div>
            <div class="bars">
            {{range $result := $service.Results}}
              {{if $result.Success}}
                {{if gt $result.Time 200}}
                  <div title=" {{call $.checktime $result.Stamp}} | {{$result.Time}}ms " class="bar bar-0"></div>
                {{else if gt $result.Time 150}}
                  <div title=" {{call $.checktime $result.Stamp}} | {{$result.Time}}ms " class="bar bar-40"></div>
                {{else if gt $result.Time 100}}
                  <div title=" {{call $.checktime $result.Stamp}} | {{$result.Time}}ms " class="bar bar-70"></div>
                {{else}}
                  <div title=" {{call $.checktime $result.Stamp}} | {{$result.Time}}ms " class="bar bar-100"></div>
                {{end}}
              {{else}}
                  <div title=" {{call $.checktime $result.Stamp}} | Down " class="bar bar-0"></div>
              {{end}}
            {{end}}
            </div>
          </div>
          <div class="status">
            <div>
              service is 
              {{if $service.LastSuccess}} 
                <b class="up">up</b> 
              {{else}} 
                <b class="down">down</b> 
              {{end}}
            </div>
            {{if $service.LastTime}}
              <p>{{$service.LastTime}}ms</p>
            {{end}}
          </div>
        </div>
      {{end}}
    </div>

    <div class="footer">
      <a href="{{.contact}}">contact</a> | powered by <a href="https://github.com/ngn13/statpage">statpage</a> 
    </div>

  </body>
</html>
